name: Main Workflow

on:
  push:
    branches: 
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        build-node-version: ['14']

    concurrency:
      group: build-${{ github.sha }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.build-node-version }}

      - name: Install dependencies
        run: npm install

      - name: Build and Test
        run: npm test
